h1 {
    color: DarkSalmon;
}
  
h2 {
    color: BlueViolet;
}
  
.uline-hlighted {
    color: Magenta;
    text-decoration: underline;
}
  
.not-colored {
    color: Black;
    text-decoration: underline;
}