#menu-container {
    padding-left: 0;
    margin: 0;
    background: purple;
    height: 50px;
    display: flex;
    align-items: center;
}
  
.menu-item1,
.menu-item2,
.menu-item3 {
    list-style-type: none;
    background: cyan;
    height: 30px;
    margin-left: 15px;
}
  
.menu-item1,
.menu-item3 {
    width: 90px;
}
  
.menu-item1 {
    margin-left: 10px;
}
  
.menu-item2 {
    width: 140px;
}
  
section {
    display: flex;
}
  
article {
    height: 1500px;
    background: yellow;
    flex-grow: 4;
}
  
aside {
    height: 1500px;
    background: lime;
    flex-grow: 1;
}