body {
    width: 300px;
}

p{
    margin: 0;
    padding: 20px;
    border: 2px solid black;
    border-top: none;
}

#last-paragraph {
    border-bottom: none;
}

#colored-paragraph:hover {
    background: orangered;
}