body {
    padding: 10px;
}

div {
    display: inline;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 4px solid black;
    background: lime;
}

.first {
    border: 4px solid red;
}

.second {
    border: 4px solid #000000;
    background: white;
}

.fourth {
    border: 4px solid blue;
}

.fifth {
    border: 4px solid purple;
    background: yellow;
}